.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15vw;
  padding-bottom: 5vw;
  width: 100%;
}
.Footer-Container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-top: 2px solid whitesmoke;
  &_Redes {
    &--img {
      padding-top: 4vw;
      width: 10vw;
    }
  }
}

@media screen and (min-width: 1200px) {
  .Footer {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .Footer-Container {
    &_Redes {
      &--img {
        padding-top: 2vw;
        width: 3vw;
      }
    }
  }
}
